<div class="profile-card">
  <div class="avatar-name">
    <img src="https://media.gq-magazin.de/photos/644694e0e0f7040c8202e350/master/pass/Ryan-Gosling-HEADER.jpg"
         alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong>Ryan Gosling</strong>
      <span>ryan</span>
    </div>

  </div>
  <div class="profile-card__description">
    <p>Я думаю, самое лучшее в том, чтобы быть взрослым, — это возможность покупать конфеты когда и где угодно.</p>
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">REST</div>
  </div>
  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
