<img alt="logo-small"
     class="ml16 mb20"
     height="74px"
     src="/assets/svg/logo-small.svg"
     width="61px">
<nav>
  <ul class="main-menu-list">
    <li>
      <button class="menu-item">
        <img alt="" src="/assets/svg/home.svg"> <span>Моя страница</span>
      </button>
    </li>
    <li>
      <button class="menu-item">
        <img alt="" src="/assets/svg/chat.svg"> <span>Чаты</span>
      </button>
    </li>
    <li>
      <button class="menu-item">
        <img alt="" src="/assets/svg/search.svg"> <span>Поиск</span>
      </button>
    </li>
  </ul>
</nav>
